main {
  min-height: 80vh;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button, select:hover {
  cursor: pointer;
}


h1 {
  font-size: 33px;
  padding: 10px 0;
}

h2 {
  font-size: 25px;
  padding: 5px 0;
}

select {
  background-color: rgba(177, 173, 173, 0.226);
  color: black;
  padding: 0 10px;
  width: 80px;
  border: none;
  font-size: 18px;
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.btn-first{
  margin: 15px 0;
  color: white;
  background-color: black;
  border-radius: 8px;
}

.btn-primary{
  color: white;
  background-color: black;
}

.btn-primary:hover{
  color: rgb(70, 68, 68);
}
